.reservation {
  padding: 2rem;

  margin: -2rem auto 4rem auto;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
}

.reservation__body {
  display: flex;
}

.reservation__headings {
  margin-right: 2rem;
}

.reservation__info {
  font-weight: bold;
}

/* ---------- styly pro patičku  ---------- */

footer {
  margin-top: 4rem;
  padding: 2rem 0 4rem 0;
  color: white;
  background-color: #69bffc;
}

.footer-title {
  font-weight: bold;
  font-size: 150%;
}
